web/src/main/webapp/day09/xml06.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE 학생들[
	<!ELEMENT 학생들 (학생)+ >
	<!ELEMENT 학생 (학번, 이름, 나이*, 주소, 전화번호?) >
	<!ELEMENT 학번 (#PCDATA) >
	<!ELEMENT 이름 (#PCDATA) >
	<!ELEMENT 나이 (#PCDATA) >
	<!ELEMENT 주소 (#PCDATA) >
	<!ELEMENT 전화번호 (#PCDATA) >
]>

<!-- 물음표는 없거나 한 개 있다. -->
<!-- *은 안 써도 된다 -->
	<!-- 속성을 줄 수가 있다 -->
	<!ATTLIST 학생 학년 (1|2|3|4|5|6) "1" >
	<!ATTLIST 학번 학과 (컴공|문창|문헌|박물관|건축) "컴공" >

<학생들>
	<학생 학년="2">
		<학번 학과="문창">2012</학번>
		<이름>이연서</이름>
		<나이>31</나이>
		<주소>관악구</주소>
		<전화번호>070-7777-7777</전화번호>
	</학생>
	
	<학생>
		<학번>2012</학번>
		<이름>이연서</이름>
		<나이>31</나이>
		<주소>관악구</주소>
		<전화번호>070-7777-7777</전화번호>
	</학생>
</학생들>